.*DS_Store
*/*DS_Store

# Always want CMakefiles or makefiles
!Makefile
!makefile
!CMakeLists.txt

# Ignore virtualenv
bin/*
bin*
.Python*
include*
lib*
pip-selfcheck*

# Want to ignore log files
*.txt
*/*.txt
__pycache__/
