.*DS_Store
*/*DS_Store

# Always want CMakefiles or makefiles
!Makefile
!makefile
!CMakeLists.txt

# Ignore virtualenv
bin/*
bin*
.Python*
include*
lib*
pip-selfcheck*
activate*
venv*
venv/*
files/
# Want to ignore log files
__pycache__/
*pycache*
genesis_address.txt

# Ignore txt files
*.txt
*.log
